%footer#footer
  .container
    .row
      .col-xs-12
        %ul.unstyled.links
          %li
            %a{href: '/shop'}
              shop
          %li
            %a{href: '/menu'}
              menu
          %li
            %a{href: '/membership'}
              membership
          %li
            %a{href: '/about'}
              about
          %li
            %a{href: '/contact'}
              contact

        .logo
        .copy
          \&copy; 2014 mirage medicinal
