%header#header
  .container
    .row
      .col-xs-13
        .share.pull-right
          %a{href: '#', target: '_blank'}
          %a{href: '#', target: '_blank'}
          %a{href: '#', target: '_blank'}
          %a{href: '#', target: '_blank'}
        %a#logo{href: '/'}
        #main-menu
          %ul.unstyled
            %li
              %a{href: '/shop'}
                shop
            %li
              %a{href: '/menu'}
                menu
            %li
              %a{href: '/membership'}
                membership
            %li
              %a{href: '/about'}
                about
            %li
              %a{href: '/contact'}
                contact
